.logoPrincipal__imagen{
    width: 35%;
}


.logoPrincipal1__imagen{
    width: 15%;
}

.instagram{
    width: 3%;
}

.youtube{
    width: 3%;
}

.twitter{
    width: 3%;
}

.discord{
    width: 3%;
}

.imagenFooter{
    width: 15%;
}